:root {
  --nord-0: #2e3440;
  --nord-1: #3b4252;
  --nord-2: #434c5e;
  --nord-3: #4c566a;
  --nord-4: #d8dee9;
  --nord-5: #e5e9f0;
  --nord-6: #eceff4;
  --nord-7: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-9: #81a1c1;
  --nord-10: #5e81ac;
  --nord-11: #bf616a;
  --nord-12: #d08770;
  --nord-13: #ebcb8b;
  --nord-14: #a3be8c;
  --nord-15: #b48ead;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: monospace;
}

body {
  margin: auto;
  padding: 0 8px;
  max-width: 64ch;
  color: var(--nord-0);
  scrollbar-gutter: stable;
  background-color: var(--nord-6);
}

pre {
  color: var(--nord-3);
}

footer {
  display: flex;
  margin: 8px 0;
  padding: 2px 0;
  color: var(--nord-3);
  justify-content: space-between;
  border-top: 1px solid var(--nord-3);
}

button {
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: -webkit-link;
  text-decoration: underline;
}

button:disabled {
  cursor: default;
  color: var(--nord-3);
}

h1,
h2 {
  margin: 8px 0;
  border-bottom: 1px solid var(--nord-0);
}

ol,
ul {
  padding-inline-start: 4ch;
}

input {
  flex-grow: 1;
  outline: none;
  background-color: var(--nord-6);
}

form {
  gap: 4px;
  display: flex;
  justify-content: space-between;
}

.conundrum-text {
  text-indent: -14ch;
  padding-left: 14ch;
}

.conundrum-nav {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

.comment-text {
  word-wrap: break-word;
}

.date {
  max-width: 10ch;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}

.comment-date {
  max-width: 16ch;
  overflow: hidden;
  white-space: nowrap;
  color: var(--nord-3);
  display: inline-block;
  vertical-align: bottom;
}

.typewriter {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(4) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 4ch;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--nord-6);
    background-color: var(--nord-0);
  }

  pre {
    color: var(--nord-4);
  }

  footer {
    color: var(--nord-4);
    border-top: 1px solid var(--nord-4);
  }

  a {
    color: var(--nord-9);
  }

  a:visited {
    color: var(--nord-7);
  }

  h2 {
    border-bottom: 1px solid var(--nord-6);
  }

  input {
    background-color: var(--nord-0);
  }

  button {
    color: var(--nord-9);
    background-color: var(--nord-0);
  }

  .comment-date {
    color: var(--nord-4);
  }
}
