:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
  margin: 0;
  padding: 0;

  font-family: monospace;

  color: var(--nord4);
  background-color: var(--nord0);
}

h2 {
  font-size: 2.5rem;
}

#joke-container {
  display: flex;
  flex-direction: column;
}

.joke {
  height: 50rem;
  display: flex;
}

.joke-text {
  width: 50%;
  height: inherit;

  flex-grow: 1;
  text-align: center;
  align-items: center;
  align-content: center;
}

.joke-visual {
  width: 50%;
  height: inherit;
  position: relative;
}

.joke-overlay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);

  color: var(--nord1);
  /* background-image: linear-gradient(to bottom, #2e344000, #3b4252ff); */
}

.joke-loading {
  width: 5rem;
  height: 5rem;

  box-sizing: border-box;
  border: 1rem solid;
  border-radius: 50%;
  border-color: #d8dee926 #d8dee940 #d8dee95a #d8dee9c0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: loader-animation 1s linear infinite;
}

@keyframes loader-animation {
  0% {
    border-color: #d8dee926 #d8dee940 #d8dee95a #d8dee9c0;
  }
  33% {
    border-color: #d8dee9c0 #d8dee926 #d8dee940 #d8dee95a;
  }
  66% {
    border-color: #d8dee95a #d8dee9c0 #d8dee926 #d8dee940;
  }
  100% {
    border-color: #d8dee940 #d8dee95a #d8dee9c0 #d8dee926;
  }
}
