* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  font-family: monospace;
}

body {
  margin: auto;
  padding: 8px;
  max-width: 64ch;
  scrollbar-gutter: stable;
}

button {
  font-size: 1rem;
  cursor: pointer;
  color: -webkit-link;
  text-decoration: underline;
  background-color: transparent;
}

.not-verified,
button:disabled {
  color: gray;
  cursor: default;
}

ol {
  padding-inline-start: 4ch;
}

li {
  margin: 4px 0;
}

input {
  flex-grow: 1;
  font-size: 1rem;
  background-color: transparent;
}

form {
  gap: 4px;
  display: flex;
  justify-content: space-between;
}

.conundrum-text,
.comment-text {
  text-indent: -14ch;
  padding-left: 14ch;
}

.conundrum-nav {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

.date {
  max-width: 16ch;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}

.typewriter-wrapper {
  min-width: 4ch;
}

.typewriter {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  animation: typing 1s steps(4) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 4ch;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eceff4;
    background-color: #2e3440;
  }

  a,
  button {
    color: #81a1c1;
  }

  a:visited {
    color: #8fbcbb;
  }

  input {
    color: #eceff4;
  }
}
