{{ define "conundrum" }}
  {{ template "conundrum-nav" . }}
  <p>conundrum...: {{ .Conundrum.Id }}</p>
  <p>date........: <span class="date">{{ .Conundrum.Date }}</span></p>
  {{ template "conundrum-author" .Conundrum }}
  <p>comments....: {{ len .Comments }}</p>
  {{ template "conundrum-stars" . }}
  <p class="conundrum-text">conundrum...: {{ .Conundrum.Text }}</p>
  {{ template "comments" .Comments }}
  <br>
  {{ template "comment-form" . }}
{{ end }}

{{ define "conundrum-author" }}
  <p>
    author......:
    <button
      hx-get="/author/{{ .Author }}"
      hx-target="main"
      hx-indicator="#conundrum-author-{{ .Id }}-loading"
      hx-push-url="true"
    >
      {{ .Author }}
    </button>
    <span cass="typewriter-wrapper">
      <span
        id="conundrum-author-{{ .Id }}-loading"
        class="htmx-indicator typewriter"
      >
        ....
      </span>
    </span>
  </p>
{{ end }}

{{ define "conundrum-stars" }}
  <p id="conundrum-stars">
    stars.......:
    <span>{{ .Conundrum.Stars }}</span>
    <button
      hx-post="/star/{{ .Conundrum.Id }}"
      hx-swap="outerHTML"
      hx-target="#conundrum-stars"
      hx-indicator="#conundrum-star-loading"
    >
      {{ if .IsStarred }}un{{ end }}star
    </button>
    <span cass="typewriter-wrapper">
      <span id="conundrum-star-loading" class="htmx-indicator typewriter">
        ....
      </span>
    </span>
  </p>
{{ end }}

{{ define "conundrum-nav" }}
  <div class="conundrum-nav">
    <button
      {{ if lt .Prev 1 }}disabled{{ end }}
      hx-get="/conundrum/{{ .Prev }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
      hx-push-url="true"
    >
      &lt;- prev
    </button>
    <span cass="typewriter-wrapper">
      <span id="conundrum-nav-loading" class="htmx-indicator typewriter">
        ....
      </span>
    </span>
    <button
      hx-get="/conundrum/{{ .Next }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
      hx-push-url="true"
    >
      next -&gt;
    </button>
  </div>
{{ end }}

{{ define "comments" }}
  {{ if gt (len .) 0 }}
    {{ range . }}
      <br>
      <p>comment.....: {{ .Id }}</p>
      <p>date........: <span class="date">{{ .Date }}</span></p>
      {{ template "conundrum-author" . }}
      <p class="comment-text">comment.....:  {{ .Comment }}</p>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "comment-form" }}
  <form hx-post="/comment" hx-target="#comment-form-result">
    <span>
      post comment:
      <input required type="text" name="comment" placeholder="comment..." />
    </span>
    <input type="hidden" name="conundrum-id" value="{{ .Conundrum.Id }}">
    <span class="typewriter-wrapper">
      <span class="htmx-indicator typewriter">....</span>
    </span>
    <button type="submit">post</button>
  </form>
  {{ template "comment-form-result" }}
{{ end }}

{{ define "comment-form-result" }}
  <span id="comment-form-result">
    {{ if  . }}
      <span hx-get="/conundrum/{{ . }}" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}
