{{ define "conundrums" }}
  <ol>
    {{ range . }}
      <li {{ if not .Verified }}class="not-verified"{{ end }}>
        {{ .Text }}
        <button hx-get="/conundrum/{{ .Id }}" hx-target="main">-&gt;</button>
      </li>
    {{ end }}
  </ol>
  <br>
  {{ template "upload-form" . }}
{{ end }}

{{ define "upload-form" }}
  <form hx-post="/upload" hx-target="#upload-form-result">
    <span class="form-field">
      post conundrum:
      <input required type="text" name="conundrum" placeholder="conundrum..." />
    </span>
    <span class="typewriter-wrapper">
      <span class="htmx-indicator typewriter">....</span>
    </span>
    <button type="submit">post+</button>
  </form>
  {{ template "upload-form-result" }}
{{ end }}

{{ define "upload-form-result" }}
  <span id="upload-form-result">
    {{ if  . }}
      <span hx-get="/conundrums" hx-trigger="load" hx-target="main"></span>
    {{ end }}
  </span>
{{ end }}
