{{ define "conundrum" }}
  {{ template "conundrum-nav" . }}
  <h2>conundrum {{ .Conundrum.Id }}:</h2>
  <p>date........: <span class="date">{{ .Conundrum.Date }}</span></p>
  {{ template "conundrum-author" .Conundrum }}
  <p>comments....: {{ len .Comments }}</p>
  {{ template "conundrum-stars" . }}
  <p class="conundrum-text">conundrum...: {{ .Conundrum.Text }}</p>
  {{ template "comments" .Comments }}
  {{ template "comment-form" . }}
{{ end }}

{{ define "conundrum-author" }}
  <p>
    author......:
    <button
      hx-get="/author?author={{ .Author }}"
      hx-target="main"
      hx-indicator="#conundrum-author-{{ .Id }}-loading"
    >
      {{ .Author }}
    </button>
    <span
      id="conundrum-author-{{ .Id }}-loading"
      class="htmx-indicator typewriter"
    >
      ....
    </span>
  </p>
{{ end }}

{{ define "conundrum-stars" }}
  <p id="conundrum-stars">
    stars.......:
    <span>{{ .Conundrum.Stars }}</span>
    <button
      hx-post="/star?id={{ .Conundrum.Id }}"
      hx-swap="outerHTML"
      hx-target="#conundrum-stars"
      hx-indicator="#conundrum-star-loading"
    >
      star{{ if not .IsStarred }}+{{ else }}-{{ end }}
    </button>
    <span id="conundrum-star-loading" class="htmx-indicator typewriter">
      ....
    </span>
  </p>
{{ end }}

{{ define "conundrum-nav" }}
  <div class="conundrum-nav">
    <button
      {{ if lt .Prev 1 }}disabled{{ end }}
      hx-get="/conundrum?id={{ .Prev }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      &lt;- prev
    </button>
    <span id="conundrum-nav-loading" class="htmx-indicator typewriter">
      ....
    </span>
    <button
      hx-get="/conundrum?id={{ .Next }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      next -&gt;
    </button>
  </div>
{{ end }}

{{ define "comments" }}
  {{ if gt (len .) 0 }}
    <h2>comments:</h2>
    {{ range . }}
      <div>
        <h3>comment: {{ .Id }}</h3>
        <p>date........: <span class="date">{{ .Date }}</span></p>
        {{ template "conundrum-author" . }}
        <p class="comment-text">comment.....:  {{ .Comment }}</p>
      </li>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "comment-form" }}
  <h2>post comment:</h2>
  <form hx-post="/comment" hx-target="#comment-form-result">
    <input required type="text" name="comment" placeholder="comment..." />
    <input type="hidden" name="conundrum-id" value="{{ .Conundrum.Id }}">
    <span class="htmx-indicator typewriter">....</span>
    <button type="submit">post+</button>
  </form>
  {{ template "comment-form-result" }}
{{ end }}

{{ define "comment-form-result" }}
  <span id="comment-form-result">
    {{ if  . }}
      <span hx-get="/conundrum?id={{ . }}" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}
