{{ define "conundrums" }}
  <h2>conundrums:</h2>
  <ol>
    {{ range . }}
      <li>
        <span>
          {{ .Text }}
          <button
            hx-get="/conundrum/{{ .Id }}"
            hx-target="main"
            hx-push-url="true"
          >
            -&gt;
          </button>
        </span>
      </li>
    {{ end }}
  </ol>
  {{ template "upload-form" . }}
{{ end }}

{{ define "upload-form" }}
  <h2>post conundrum:</h2>
  <form hx-post="/upload" hx-target="#upload-form-result">
    <input required type="text" name="conundrum" placeholder="conundrum..." />
    <span class="htmx-indicator typewriter">....</span>
    <button type="submit">post</button>
  </form>
  {{ template "upload-form-result" }}
{{ end }}

{{ define "upload-form-result" }}
  <span id="upload-form-result">
    {{ if  . }}
      <span hx-get="/conundrums" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}
