<!doctype html>
<html lang="en">
  <head>
    <title>risuhunnik</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A collection of wicked conundrums." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <pre>
                            |    .                    _
                        .   |L  /|   .          _    (_)
                    _ . |\ _| \--+._/| .       (_)
                   / ||\| Y J  )   / |/| ./
                  J  |)'( |        ` F`.'/
                -<|  F         __     .-<        (_)
                  | /       .-'. `.  /-. L___
                  J \      <    \  | | O\|.-'  _
                _J \  .-    \/ O | | \  |F    (_)
               '-F  -<_.     \   .-'  `-' L__
              __J  _   _.     >-'  )._.   |-'
               `-|.'   /_.          \_|   F
               /'    /.'             .'  `\
                /L  /'   |/      _.-'-\
               /'J       ___.---'\|
                 |\  .--' V  | `. `
                 |/`. `-.     `._)
                    / .-.\
                    \ (  `\
                     `.\
    </pre>
    {{ template "header" }}
    {{ template "navigation" }}
    <main>
      {{ template "conundrums" . }}
    </main>
    {{ template "footer" }}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  </body>
</html>
