<!doctype html>
<html lang="en">
  <head>
    <title>risuhunnik.xyz</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A collection of wicked conundrums." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
      <pre>
                     ,
  collection      . ~ ~ .        <a href="/">risuhunnik.xyz</a>
  of wicked     .'@ )) .. '..~
  conundrums    &gt; - ~``  '~\{    <a href="https://github.com/mart-mihkel/risuhunnik" target="_blank">github</a>
                            \
      </pre>
    <main>{{ template "conundrums" . }}</main>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js">
    </script>
  </body>
</html>
