{{ define "conundrums" }}
  <main class="px-4 md:px-[5%] lg:px-[25%] flex flex-col gap-20 py-4">
    {{ range . }}
      {{ template "conundrum" . }}
    {{ end }}
  </main>
{{ end }}

{{ define "conundrum" }}
  <div class="flex flex-col gap-4">
    <p class="text-2xl text-center">{{ .Text }}</p>
    <div class="flex flex-row gap-2 justify-center items-center text-nord-3 dark:text-nord-4">
      {{ template "button-star" . }}
      {{ if not .Verified }}
        <span class="p-1 rounded-2xl transition-all duration-200 hover:px-4 hover:shadow-md hover:shadow-nord-4 dark:hover:shadow-nord-1 hover:bg-nord-4 dark:hover:bg-nord-3" title="Not verified">
          {{ template "skull-svg" }}
        </span>
      {{ end }}
      {{ range .Tags }}
        <button
          class="p-1 rounded-2xl transition-all duration-200 hover:px-4 hover:shadow-md hover:shadow-nord-4 dark:hover:shadow-nord-1 hover:bg-nord-4 dark:hover:bg-nord-3 hover:cursor-pointer"
          hx-get="/conundrums?tag={{ . }}"
          hx-target="main"
          hx-swap="outerHTML"
        >
          #{{ . }}
        </button>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "button-star" }}
  <button
    id="stars-{{ .Id }}"
    class="flex flex-row gap-1 p-1 rounded-2xl  transition-all duration-200 hover:px-4 hover:shadow-md hover:shadow-nord-4 dark:hover:shadow-nord-1 hover:bg-nord-4 dark:hover:bg-nord-3 items-center hover:cursor-pointer outline-none"
    hx-post="/star?id={{ .Id }}"
    hx-swap="outerHTML"
    hx-target="#stars-{{ .Id }}"
  >
    {{ template "star-svg" }}
    <p>{{ .Stars }}</p>
  </button>
{{ end }}

{{ define "tags" }}
  <main class="px-4 md:px-[5%] lg:px-[25%] flex flex-row flex-wrap gap-4 justify-center py-4">
    {{ range $k, $v := . }}
      <button
        class="p-2 w-44 rounded-md transition-all duration-200 hover:shadow-xl hover:shadow-nord-4 dark:hover:shadow-nord-1 hover:bg-nord-4 dark:hover:bg-nord-3 hover:cursor-pointer"
        hx-get="/conundrums?tag={{ $k }}"
        hx-target="main"
        hx-swap="outerHTML"
      >
        <p class="flex flex-row items-center justify-center gap-1">#{{ $k }}</p>
        {{ if eq $v 1 }}
          <p class="flex justify-center">1 conundrum</p>
        {{ else }}
          <p class="flex justify-center">{{ $v }} conundrums</p>
        {{ end }}
      </button>
    {{ end }}
  </main>
{{ end }}
