{{ define "hidden-modal" }}
  <div id="modal" class="hidden"></div>
{{ end }}

{{ define "add-modal" }}
  <div
    id="modal"
    class="fixed inset-0 w-screen bg-nord-6/75 dark:bg-nord-0/75 flex justify-center items-center"
  >
    <form
      id="add-form"
      class="flex flex-col gap-4 w-md p-4 bg-nord-4 dark:bg-nord-3 rounded-md shadow-md shadow-nord-4 dark:shadow-nord-1"
      hx-post="/add"
      hx-swap="outerHTML"
    >
      <div class="flex flex-row gap-1 items-center justify-center">
        {{ template "phising-svg" }}
        <input
          required
          type="text"
          name="text"
          placeholder="Conundrum..."
          class="w-full outline-none"
        />
      </div>
      {{ if . }}
        <p class="flex justify-center text-justify">{{ . }}</p>
      {{ end }}
      <div class="flex flex-row gap-8 justify-evenly">
        <button type="submit" class="outline-none">
          {{ template "check-svg" }}
        </button>
        <button type="reset" class="outline-none">
          {{ template "reset-svg" }}
        </button>
        <button
          type="button"
          class="outline-none"
          hx-get="/modal?modal=hidden"
          hx-target="#modal"
          hx-swap="outerHTML"
        >
          {{ template "cancel-svg" }}
        </button>
      </div>
    </form>
  </div>
{{ end }}
