{{ define "pre" }}
  <pre>
              |    .                    _
          .   |L  /|   .          _    (_)
      _ . |\ _| \--+._/| .       (_)
     / ||\| Y J  )   / |/| ./
    J  |)'( |        ` F`.'/
  -<|  F         __     .-<        (_)
    | /       .-'. `.  /-. L___
    J \      <    \  | | O\|.-'  _
  _J \  .-    \/ O | | \  |F    (_)
 '-F  -<_.     \   .-'  `-' L__
__J  _   _.     >-'  )._.   |-'
 `-|.'   /_.          \_|   F
 /'    /.'             .'  `\
  /L  /'   |/      _.-'-\
 /'J       ___.---'\|
   |\  .--' V  | `. `
   |/`. `-.     `._)
      / .-.\
      \ (  `\
       `.\
  </pre>
{{ end }}

{{ define "header" }}
  <header>
    <h2>risuhunnik</h2>
    <span>a collection of wicked conundrums</span>
  </header>
{{ end }}

{{ define "navigation" }}
  <nav>
    <h2>pages:</h2>
    <a hx-get="/conundrums" hx-target="main">conundrums</a>
    <a hx-get="/upload" hx-target="main">upload</a>
  </nav>
{{ end }}

{{ define "footer" }}
  <footer>
    <span>
      src:
      <a href="https://github.com/mart-mihkel/risuhunnik" target="_blank">
        github
      </a>
    </span>
  </footer>
{{ end }}
