{{ define "header" }}
  <header>
    <h2>risuhunnik</h2>
  </header>
{{ end }}

{{ define "navigation" }}
  <nav>
    <a hx-get="/conundrums" hx-swap="outerHTML" hx-target="main">
      Conundrums
    </a>
    <input
      type="text" name="search" placeholder="Search..."
      hx-post="/search" hx-target="main" hx-swap="outerHTML"
    />
    <button hx-get="/modal?modal=add" hx-target="#modal" hx-swap="outerHTML">
      Add
    </button>
  </nav>
{{ end }}

{{ define "footer" }}
  <footer>
    <a href="https://github.com/mart-mihkel/risuhunnik" target="_blank">
      Github
    </a>
  </footer>
{{ end }}
