{{ define "conundrums" }}
  <h2>conundrums:</h2>
  <ol>
    {{ range .Conundrums }}
      <li>
        <span>
          {{ .Text }}
          <button hx-get="/conundrum?id={{ .Id }}" hx-target="main">
            -&gt;
          </button>
        </span>
      </li>
    {{ end }}
  </ol>
  {{ template "upload-form" . }}
{{ end }}

{{ define "conundrum" }}
  {{ template "conundrum-nav" . }}
  <h2>conundrum {{ .Conundrum.Id }}:</h2>
  <p>date........: <span class="date">{{ .Conundrum.Date }}</span></p>
  <p>verified....: {{ .Conundrum.Verified }}</p>
  <p>comments....: {{ len .Comments }}</p>
  {{ template "conundrum-stars" . }}
  <p class="conundrum-text">conundrum...: {{ .Conundrum.Text }}</p>
  {{ template "comments" .Comments }}
  {{ template "comment-form" . }}
{{ end }}

{{ define "conundrum-stars" }}
  <p id="conundrum-stars">
    stars.......:
    <span>{{ .Conundrum.Stars }}</span>
    <button
      {{ if or (not .CookiesAgreed) .IsStarred }}disabled{{ end }}
      hx-post="/star?id={{ .Conundrum.Id }}"
      hx-swap="outerHTML"
      hx-target="#conundrum-stars"
      hx-indicator="#conundrum-star-loading"
    >
      star+
    </button>
    <span id="conundrum-star-loading" class="htmx-indicator typewriter">
      ....
    </span>
  </p>
{{ end }}

{{ define "conundrum-nav" }}
  <div class="conundrum-nav">
    <button
      {{ if lt .Prev 1 }}disabled{{ end }}
      hx-get="/conundrum?id={{ .Prev }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      &lt;- prev
    </button>
    <span id="conundrum-nav-loading" class="htmx-indicator typewriter">
      ....
    </span>
    <button
      hx-get="/conundrum?id={{ .Next }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      next -&gt;
    </button>
  </div>
{{ end }}

{{ define "comments" }}
  {{ if gt (len .) 0 }}
    <h2>comments:</h2>
    <ul>
      {{ range . }}
        <li>
          <span class="comment-date">{{ .Date }}</span>
          <span class="comment-text">- {{ .Comment }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "comment-form" }}
  <h2>post comment:</h2>
  <form hx-post="/comment" hx-target="#comment-form-result">
    <input required type="text" name="comment" placeholder="comment..." />
    <input type="hidden" name="conundrum-id" value="{{ .Conundrum.Id }}">
    <span class="htmx-indicator typewriter">....</span>
    <button
      {{ if not .CookiesAgreed }}disabled{{ end }}
      type="submit"
    >
      post+
    </button>
  </form>
  {{ template "comment-form-result" }}
{{ end }}

{{ define "comment-form-result" }}
  <span id="comment-form-result">
    {{ if  . }}
      <span hx-get="/conundrum?id={{ . }}" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}

{{ define "upload-form" }}
  <h2>post conundrum:</h2>
  <form hx-post="/upload" hx-target="#upload-form-result">
    <input required type="text" name="conundrum" placeholder="conundrum..." />
    <span class="htmx-indicator typewriter">....</span>
    <button
      {{ if not .CookiesAgreed }}disabled{{ end }}
      type="submit"
    >
      post+
    </button>
  </form>
  {{ template "upload-form-result" }}
{{ end }}

{{ define "upload-form-result" }}
  <span id="upload-form-result">
    {{ if  . }}
      <span hx-get="/conundrums" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}
