{{ define "conundrums" }}
  <h3>conundrums:</h3>
  <ol>
    {{ range . }}
      <li>
        <span
          class="conundrum-preview {{ if not .Verified }}apocryphal{{ end }}"
        >
          {{ .Text }}
          <button hx-get="/conundrum?id={{ .Id }}" hx-target="main">
            --&gt;
          </button>
        </span>
      </li>
    {{ end }}
  </ol>
{{ end }}

{{ define "conundrum" }}
  <h3>conundrum {{ .Conundrum.Id }}:</h3>
  <p>date........:
    <span class="date">{{ .Conundrum.Date }}</span>
  </p>
  <p {{ if not .Conundrum.Verified }}class="apocryphal"{{ end }}>
    apocryphal..: {{ not .Conundrum.Verified }}
  </p>
  <p>comments....: {{ len .Comments }}</p>
  <p class="conundrum-text">conundrum...: {{ .Conundrum.Text }}</p>
  {{ template "comments" .Comments }}
  {{ template "comment-form" . }}
  {{ template "conundrum-nav" . }}
{{ end }}

{{ define "conundrum-nav" }}
  <div class="conundrum-nav">
    <button hx-get="/conundrum?id={{ .Prev }}" hx-target="main">
      &lt;-- prev
    </button>
    <button hx-get="/conundrum?id={{ .Next }}" hx-target="main">
      next --&gt;
    </button>
  </div>
{{ end }}

{{ define "comments" }}
  {{ if gt (len .) 0 }}
    <h3>comments:</h3>
    <ul>
      {{ range . }}
        <li>
          <span class="comment-text">{{ .Comment }} -</span>
          <span class="comment-date">{{ .Date }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "comment-form" }}
  <h3>post comment:</h3>
  <form hx-post="/comment" hx-target="#comment-form-result">
    <span>
      comment:
      <input required type="text" name="comment" placeholder="..." />
    </span>
    <input type="hidden" name="cid" value="{{ .Conundrum.Id }}">
    {{ template "comment-form-result" }}
  </form>
{{ end }}

{{ define "comment-form-result" }}
  <span id="comment-form-result">
    {{ if  . }}
      <span hx-get="/conundrum?id={{ . }}" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}

{{ define "upload-form" }}
  <h3>post conundrum:</h3>
  <form hx-post="/upload" hx-target="#upload-form-result">
    <span>
      conundrum:
      <input required type="text" name="conundrum" placeholder="..." />
    </span>
    {{ template "upload-form-result" }}
  </form>
{{ end }}

{{ define "upload-form-result" }}
  <span id="upload-form-result">{{ . }}</span>
{{ end }}
