{{ define "conundrums" }}
  <h3>conundrums:</h3>
  <ol>
    {{ range . }}
      <li>
        <span class="conundrum-preview">
          {{ .Text }}
          <button hx-get="/conundrum?id={{ .Id }}" hx-target="main">
            --&gt;
          </button>
        </span>
      </li>
    {{ end }}
  </ol>
  {{ template "upload-form" }}
{{ end }}

{{ define "conundrum" }}
  {{ template "conundrum-nav" . }}
  <h3>conundrum {{ .Conundrum.Id }}:</h3>
  <p>date........: <span class="date">{{ .Conundrum.Date }}</span></p>
  <p>verified....: {{ .Conundrum.Verified }}</p>
  <p>comments....: {{ len .Comments }}</p>
  <p class="conundrum-text">conundrum...: {{ .Conundrum.Text }}</p>
  {{ template "comments" .Comments }}
  {{ template "comment-form" . }}
{{ end }}

{{ define "conundrum-nav" }}
  <div class="conundrum-nav">
    <button
      hx-get="/conundrum?id={{ .Prev }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      &lt;-- prev
    </button>
    <span id="conundrum-nav-loading" class="htmx-indicator typewriter">
      ....
    </span>
    <button
      hx-get="/conundrum?id={{ .Next }}"
      hx-target="main"
      hx-indicator="#conundrum-nav-loading"
    >
      next --&gt;
    </button>
  </div>
{{ end }}

{{ define "comments" }}
  {{ if gt (len .) 0 }}
    <h3>comments:</h3>
    <ul>
      {{ range . }}
        <li>
          <span class="comment-text">{{ .Comment }} -</span>
          <span class="comment-date">{{ .Date }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "comment-form" }}
  <h3>post comment:</h3>
  <form hx-post="/comment" hx-target="#comment-form-result">
    <input
      required
      type="text"
      name="comment"
      placeholder="comment..."
    />
    <input type="hidden" name="cid" value="{{ .Conundrum.Id }}">
    <span class="htmx-indicator typewriter">....</span>
    <button type="submit">post --&gt;</button>
  </form>
  {{ template "comment-form-result" }}
{{ end }}

{{ define "comment-form-result" }}
  <span id="comment-form-result">
    {{ if  . }}
      <span hx-get="/conundrum?id={{ . }}" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}

{{ define "upload-form" }}
  <h3>post conundrum:</h3>
  <form hx-post="/upload" hx-target="#upload-form-result">
    <input
      required
      type="text"
      name="conundrum"
      placeholder="conundrum..."
    />
    <span class="htmx-indicator typewriter">....</span>
    <button type="submit">post --&gt;</button>
  </form>
  {{ template "upload-form-result" }}
{{ end }}

{{ define "upload-form-result" }}
  <span id="upload-form-result">
    {{ if  . }}
      <span hx-get="/conundrums" hx-trigger="load" hx-target="main">
      </span>
    {{ end }}
  </span>
{{ end }}
