<div id="container" class="tag-container">
  {{range $k, $v := .}}
  <div class="tag">
    <div class="tag-title">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        height="1rem"
        width="1rem"
      >
        <path
          d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z"
        />
      </svg>
      <p>{{$k}}</p>
    </div>
    {{if eq $v 1}}
    <p>One conundrum</p>
    {{else}}
    <p>{{$v}} conundrums</p>
    {{end}}
  </div>
  {{end}}
</div>
