{{ define "conundrums" }}
  <main class="m-4 md:mx-[5%] lg:mx-[25%] flex flex-col gap-32">
    {{ range . }}
      {{ template "conundrum" . }}
    {{ end }}
  </main>
{{ end }}

{{ define "conundrum" }}
  <div class="flex flex-col gap-4">
    <p class="text-2xl text-center">{{ .Text }}</p>
    <div class="flex flex-row gap-4 justify-center items-center text-nord-3 dark:text-nord-4">
      {{ template "star-button" . }}
      {{ if not .Verified }}
        <button class="py-1 px-2 bg-nord-5 dark:bg-nord-2 hover:bg-nord-11 flex items-center gap-1 rounded-xl shadow-sm shadow-nord-4 dark:shadow-nord-1 hover:cursor-pointer outline-none">
          {{ template "skull-svg" }}
          Not verified
        </button>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "star-button" }}
  <button
    id="stars-{{ .Id }}"
    class="py-1 px-2 bg-nord-5 dark:bg-nord-2 hover:bg-nord-13 flex items-center gap-1 rounded-xl shadow-sm shadow-nord-4 dark:shadow-nord-1 hover:cursor-pointer outline-none"
    hx-post="/star?id={{ .Id }}"
    hx-swap="outerHTML"
    hx-target="#stars-{{ .Id }}"
  >
    {{ template "star-svg" }}
    <p>{{ .Stars }}</p>
  </button>
{{ end }}
